:root {
  --color-primary: rgb(73, 166, 233);
  --color-overlay: rgb(14, 30, 37);
  --color-body-bg: #f1f5f8;
  --color-text: #324d67;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--color-body-bg);
}
